<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/heart.css" />
<meta name="description" content="a healing heart by Gregory Mazurek">
<meta name="keywords" content="a healing heart by Gregory Mazurek">
<meta property="og:title" content="a healing heart by Gregory Mazurek"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://healingheart.gregorymazurek.com/"/>
<meta property="og:site_name" content="a healing heart by Gregory Mazurek"/>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/heart.js"></script>

<title>a healing heart by Gregory Mazurek</title>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18738880-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>
	<canvas id="c" width="400" height="400"></canvas>
	 <div id="footer">
	 	<div style="padding-bottom:10px;">
	    <a href="http://www.gregorymazurek.com"><span style="color:gray;">Brought to you by Gregory Mazurek</span></a>
	    </div>
	    <div id="socialButtons">
		  <div>
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fahealingheart.gregorymazurek.com&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:35px;" allowTransparency="true"></iframe>
		  </div>
		  <div>
		    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="GregoryMazurek" data-url="http://ahealingheart.gregorymazurek.com">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		  </div>
		  <div style="clear:both;"></div>
		 </div>
	 </div>
</body>
</html>